[submodule "daemon/libiphb"]
	path = daemon/libiphb
	url = https://github.com/nemomobile/libiphb.git
[submodule "daemon/nemo-keepalive"]
	path = daemon/nemo-keepalive
	url = https://github.com/nemomobile/nemo-keepalive.git
	# This because nemo-keepalive generates dbus interfaces
	ignore = dirty
