[submodule "src/daemon/nemo-keepalive"]
	path = src/daemon/nemo-keepalive
	url = https://github.com/nemomobile/nemo-keepalive.git
[submodule "src/daemon/libiphb"]
	path = src/daemon/libiphb
	url = https://github.com/nemomobile/libiphb.git
