[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ringingrestorer
Exec=harbour-ringingrestorer
Name=RingingRestorer

[X-Sailjail]
Sandboxing=Disabled
