[Unit]
Description=Ringing restorer service
Requires=lipstick.service
After=lipstick.service

[Service]
ExecStart=/usr/bin/harbour-ringingrestorer -d
Restart=always
RestartSec=5

[Install]
WantedBy=user-session.target
