[Unit]
Description=Ringing restorer service
After=pre-user-session.target

[Service]
ExecStart=/usr/bin/harbour-ringingrestorerd
Restart=always

[Install]
WantedBy=user-session.target
